{% extends 'Dating_Site_App/base.html' %}

{% block title %}Moderator Login Page{% endblock title %}

{% block ProfileButton %}{% endblock ProfileButton %}
{% block ChatButton %}{% endblock ChatButton %}
{% block MessageRequestButton %}{% endblock MessageRequestButton %}
{% block Dropdown %}{% endblock Dropdown %}
{% block LogoutButton %}{% endblock LogoutButton %}
{% block ModButtons %}{% endblock ModButtons %}

{% block content %}
<main role="main" style="height: 100%">
    <div class="jumbotron" style="padding: 100px; height=100% margin-bottom: 0; height: 100%">
        <div class="container" style="display:flex">
            <div class="card text-center" style="width: 50%; margin: auto; height:20rem">
                <div class="card-body" style="display: flex; align-items: center; flex-direction: column; justify-content: center;">
                  <h5 class="card-title" style="margin-bottom: 3rem;">Moderator Login</h5>
                    <form action="{% url 'modlogin' %}" method="post">
                    {% csrf_token %}
                        <div class="input-group mb-3">
                            <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Log In"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}