{% extends 'Dating_Site_App/base.html' %}

{% block title %} Profile {% endblock %}

{% block ProfileButton %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'profile' currUser.username %}">Profile <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}

<main role="main">
    <div class="jumbotron" style="padding: 100px;">
        <div class="container">
            {% if user == currUser %}
            <h1 class="display-3" style="margin-bottom: 3rem;">Hello, {{user.get_full_name}}</h1>
            {% else %}
            <h1 class="display-3" style="margin-bottom: 3rem;">{{user.get_full_name}}'s Profile</h1>
            {% endif %}

            <div style="display: grid; grid-template-columns: 3fr 1fr; column-gap: 25px">
                <div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Username</span>
                        </div>
                        <span style="border-radius: 0 .25rem .25rem 0;" class="input-group-text" id="basic-addon1">{{user.username}}</span>
                    </div>
                    
                    <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 25px">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">First Name</span>
                            </div>
                            <span style="border-radius: 0 .25rem .25rem 0;" class="input-group-text" id="basic-addon1">{{user.first_name}}</span>
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Last Name</span>
                            </div>
                            <span style="border-radius: 0 .25rem .25rem 0;" class="input-group-text" id="basic-addon1">{{user.last_name}}</span>
                        </div>
                    </div>

                    <div style="width: 50%" class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Email-Address</span>
                        </div>
                        <span style="border-radius: 0 .25rem .25rem 0;" class="input-group-text" id="basic-addon1">{{user.email}}</span>
                    </div>

                    <div style="width: 50%" class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Gender</span>
                        </div>
                        <span style="border-radius: 0 .25rem .25rem 0;" class="input-group-text" id="basic-addon1">{{user.profile.gender}}</span>
                    </div>

                    <div style="width: 50%" class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Date of Birth</span>
                        </div>
                        <span style="border-radius: 0 .25rem .25rem 0;" class="input-group-text" id="basic-addon1">{{user.profile.DOB}}</span>
                    </div>

                    <div style="width: 50%" class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Status</span>
                        </div>
                        <span style="border-radius: 0 .25rem .25rem 0;" class="input-group-text" id="basic-addon1">{{user.profile.status}}</span>
                    </div>

                    <div style="width: 50%" class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Bio</span>
                        </div>
                        <span style="border-radius: 0 .25rem .25rem 0;" class="input-group-text" id="basic-addon1">{{user.profile.bio}}</span>
                    </div>

                    {% if user.username == currUser.username %}
                    <a class="btn btn-primary" href="{% url 'editpage' user.username %}" role="button">Edit</a>
                    {% endif %}
                    
                </div>

                <div style="display: flex; flex-direction: column">
                    <img src="{{user.profile.profilephoto.url}}" alt="{{user.profile.profilephoto.url}}" class="img-thumbnail" width=1000 height=1000 style="margin-bottom: 3rem">
                    {% if friends %}
                    <a class="btn btn-light" style="margin-bottom: 10px;" href="{% url 'unmatch' user.username %}">Unmatch!</a>
                    <a class="btn btn-danger" style="color: white" href="{% url 'block' user.username %}" >Block User</a>
                    {% elif blocked %}
                    <a class="btn btn-warning" href="{% url 'unblock' user.username %}">Unblock</a>
                    {% elif user in sentfriendReqList %}
                    <a class="btn btn-light" href="{% url 'unsendmessagerequest' user.username %}">Unsend Message Request!</a>
                    {% comment %} <button type="button" class="btn btn-light">Request Sent!</button> {% endcomment %}
                    {% elif user != currUser %}
                    <a class="btn btn-primary" href="{% url 'sendmessagerequest' user.username %}">Send Message Request</a>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>

</main>

{% endblock %}